<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Game_menu</title>
		<link rel="stylesheet" type="text/css" href="/css/Game/Game_menu.css">
	</head>

	<body>
		<h1 style="text-align: center;">-げーむいちらん-</h1>
		<div style="text-align: center;">
			<h1><a href="/todo/game/lightsOut">●ライツアウト</a></h1>
			<h1><a href="/todo/game/ticTacToe">●まるばつげーむ（ふたりよう）</a></h1>
		</div>
		<h1 style="text-align: center;"><a href="/todo">「たすくりすと」へもどる</a></h1>
	</body>

	</html>