@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Yusei Magic", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #e6e6e6;
}
/*テーブルデザイン*/
table {
	padding: 0.5em 1em;
	margin: auto;
	background: #f4f4f4;
	border-left: solid 6px #5bb7ae;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}


th {
	border: dotted rgb(192, 192, 192);
	border-width: 1px 0 1px 0;
}

td {
	border: dotted rgb(192, 192, 192);
	border-width: 0 1px 0 0;
}

/*区切り線*/
.cp_hr08 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #ffffff;
}

/*ボタンデザイン*/
button {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 40px;
	margin: auto;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: rgb(0, 0, 0);
	border-radius: 100vh;
	transition: 0.5s;
	font-family: "Yusei Magic", sans-serif;
}


button:hover {
	color: #fff;
	background: #27acd9;
}

/*期限がヤバい時の縁取り文字*/
.warning {
	border-radius: 10px;
	color: #000;
	text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
		-1px 1px 0 #FFF, 1px -1px 0 #FFF,
		0px 1px 0 #FFF, 0-1px 0 #FFF,
		-1px 0 0 #FFF, 1px 0 0 #FFF;
}
/*優先度ごとに縁取り*/
/*高*/
.priorityHigh {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0 rgb(255, 0, 0), -1px -1px 0 rgb(255, 0, 0),
		-1px 1px 0 rgb(255, 0, 0), 1px -1px 0 rgb(255, 0, 0),
		0px 1px 0 rgb(255, 0, 0), 0-1px 0 rgb(255, 0, 0),
		-1px 0 0 rgb(255, 0, 0), 1px 0 0 rgb(255, 0, 0);
}
/*中*/
.priorityMiddle {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0 rgb(0, 128, 255), -1px -1px 0 rgb(0, 128, 255),
		-1px 1px 0 rgb(0, 128, 255), 1px -1px 0 rgb(0, 128, 255),
		0px 1px 0 rgb(0, 128, 255), 0-1px 0 rgb(0, 128, 255),
		-1px 0 0 rgb(0, 128, 255), 1px 0 0 rgb(0, 128, 255);
}
/*低*/
.priorityLow {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0 rgb(0, 128, 0), -1px -1px 0 rgb(0, 128, 0),
		-1px 1px 0 rgb(0, 128, 0), 1px -1px 0 rgb(0, 128, 0),
		0px 1px 0 rgb(0, 128, 0), 0-1px 0 rgb(0, 128, 0),
		-1px 0 0 rgb(0, 128, 0), 1px 0 0 rgb(0, 128, 0);
}

/*プレスホルダーのフォント*/
::placeholder {
	font-family:  "Yusei Magic";
}

/*テキストボックスのデザイン*/
.textbox {
	width: 100%;
	/*親要素いっぱい広げる*/
	padding: 10px 15px;
	/*ボックスを大きくする*/
	font-size: 16px;
	border-radius: 3px;
	/*ボックス角の丸み*/
	border: 2px solid #ddd;
	/*枠線*/
	box-sizing: border-box;
	/*横幅の解釈をpadding, borderまでとする*/
}

.textbox:focus {
	border: 2px solid #27acd9;
	z-index: 10;
	outline: 0;
}

/*カレンダーボックスのデザイン*/
input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  background: transparent;
  background-color: white;
  border-radius: 3px;
  border-color: rgb(192, 192, 192);
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Yusei Magic";
  color: rgb(0, 0, 0);
}

input[type="text"] {
	font-family: "Yusei Magic";
}

textarea {
	font-family: "Yusei Magic";
}

/*見出しデザイン*/
p {
	color: #364e96;
	/*文字色*/
	/*border: solid 3px #364e96;/*線色*/
	padding: 0.5em;
	/*文字周りの余白*/
	/*border-radius: 0.5em;/*角丸*/
	width: 30%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: "Hannotate SC";
}

/*リンク文字の色*/
a {
	color: #3583aa;
}

a:visited {
	color: rgb(0, 128, 64);
}

.sort {
	text-decoration: none;
	color: #5bb7ae;
}

.sort:visited {
	text-decoration: none;
	color: #5bb7ae;
}

/*テーマ切り替え*/
:root {
    --s-1: 0 2px 5px rgba(0, 0, 0, 0.26);
    --s-2: 0 2px 10px rgba(0, 0, 0, .2);
}

body[theme="dot"] {
	margin: 0;
	padding: 0;
	font-family: "DotGothic16", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #e6e6e6;
}

button[theme="dot"] {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 40px;
	margin: auto;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: rgb(0, 0, 0);
	border-radius: 100vh;
	transition: 0.5s;
	font-family: "DotGothic16", sans-serif;
}