@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
  }
  
  .calendar {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .header {
    background-color: #3f51b5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  #month {
    font-size: 24px;
    font-weight: bold;
  }
  
  .week {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
  }
  
  .day:hover {
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
  }
  
  .disabled {
    color: #bdbdbd;
    pointer-events: none;
  }
  
  @media (max-width: 768px) {
    .calendar {
      width: 90%;
    }
  }
  