@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Yusei Magic", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #e6e6e6;
}

/*ヘッダー*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	line-height: 60px;
	background: rgb(128, 128, 128);
	vertical-align: middle;
}

/*フッター*/
footer {
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
	background: rgb(128, 128, 128);
	vertical-align: middle;
	color: white;
}

/*アイコン*/
#head {
	position: absolute;
    top: 1.3%; left: 50%
}

/* ロゴ */
header .logo {
	padding: 0 20px;
	font-size: 18px;
	color: rgb(255, 255, 255);
	letter-spacing: .2em;
	width: 30%;
	display: inline;
}

/* メニュー */
header.account {
	padding: 0 30px;
	display: inline-block;
	padding: 0 6px;
	font-size: 14px;
	letter-spacing: .1em;
	text-align: right;
	color: #fff;
}

/* メニューのリンクホバーで線 */
header a:hover {
	text-decoration: underline;
}

/*テーブルデザイン*/
table {
	padding: 0.5em 1em;
	margin: auto;
	background: #f4f4f4;
	border-left: solid 6px #5bb7ae;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}


th {
	border: dotted rgb(192, 192, 192);
	border-width: 1px 0 1px 0;
}

td {
	border: dotted rgb(192, 192, 192);
	border-width: 0 1px 0 0;
}

/*ボタンデザイン*/
button {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 40px;
	margin: auto;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: rgb(0, 0, 0);
	border-radius: 100vh;
	transition: 0.5s;
	font-family: "Yusei Magic", sans-serif;
}


button:hover {
	color: #fff;
	background: #27acd9;
}

/*期限がヤバい時の縁取り文字*/
.warning {
	border-radius: 10px;
	color: #000;
	text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
		-1px 1px 0 #FFF, 1px -1px 0 #FFF,
		0px 1px 0 #FFF, 0-1px 0 #FFF,
		-1px 0 0 #FFF, 1px 0 0 #FFF;
}
/*優先度ごとに縁取り*/
/*高*/
.priorityHigh {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0 rgb(255, 0, 0), -1px -1px 0 rgb(255, 0, 0),
		-1px 1px 0 rgb(255, 0, 0), 1px -1px 0 rgb(255, 0, 0),
		0px 1px 0 rgb(255, 0, 0), 0-1px 0 rgb(255, 0, 0),
		-1px 0 0 rgb(255, 0, 0), 1px 0 0 rgb(255, 0, 0);
}
/*中*/
.priorityMiddle {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0 rgb(0, 128, 255), -1px -1px 0 rgb(0, 128, 255),
		-1px 1px 0 rgb(0, 128, 255), 1px -1px 0 rgb(0, 128, 255),
		0px 1px 0 rgb(0, 128, 255), 0-1px 0 rgb(0, 128, 255),
		-1px 0 0 rgb(0, 128, 255), 1px 0 0 rgb(0, 128, 255);
}
/*低*/
.priorityLow {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 0 rgb(0, 128, 0), -1px -1px 0 rgb(0, 128, 0),
		-1px 1px 0 rgb(0, 128, 0), 1px -1px 0 rgb(0, 128, 0),
		0px 1px 0 rgb(0, 128, 0), 0-1px 0 rgb(0, 128, 0),
		-1px 0 0 rgb(0, 128, 0), 1px 0 0 rgb(0, 128, 0);
}

/*プレスホルダーのフォント*/
::placeholder {
	font-family:  "Yusei Magic";
}

/*テキストボックスのデザイン*/
.textbox {
	width: 100%;
	/*親要素いっぱい広げる*/
	padding: 10px 15px;
	/*ボックスを大きくする*/
	font-size: 16px;
	border-radius: 3px;
	/*ボックス角の丸み*/
	border: 2px solid #ddd;
	/*枠線*/
	box-sizing: border-box;
	/*横幅の解釈をpadding, borderまでとする*/
}

.textbox:focus {
	border: 2px solid #27acd9;
	z-index: 10;
	outline: 0;
}

/*カレンダーボックスのデザイン*/
input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  background: transparent;
  background-color: white;
  border-radius: 3px;
  border-color: rgb(192, 192, 192);
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Yusei Magic";
  color: rgb(0, 0, 0);
}

input[type="text"] {
	font-family: "Yusei Magic";
}

textarea {
	font-family: "Yusei Magic";
}

/*見出しデザイン*/
p {
	color: #364e96;
	/*文字色*/
	/*border: solid 3px #364e96;/*線色*/
	padding: 0.5em;
	/*文字周りの余白*/
	/*border-radius: 0.5em;/*角丸*/
	width: 30%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: "Hannotate SC";
}

/*リンク文字の色*/
a {
	color: #3583aa;
}

a:visited {
	color: rgb(0, 128, 64);
}

/*マウスオーバーによる吹き出し表示*/

.tooltipBlock1 {
    position: relative;
    margin: 0 auto;
    width: 500px;
}

.tooltipBlock2 {
    position: relative;
    margin: 0 auto;
    width: 500px;
}

.toolTip1 {
    display: none;
    position: absolute;
    top: 48%; 
    left: 28%;
    transform: translateX(-50%);
    z-index: 1;
    background: #545454;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
}
.toolTip2 {
    display: none;
    position: absolute;
    top: 106%; 
    left: 28%;
    transform: translateX(-50%);
    z-index: 1;
    background: #545454;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
}
.toolTip1:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #545454;
}
.toolTip2:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #545454;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*トグルボタン*/
.toggle_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle_label {
  width: 40px;
  height: 20px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle_label:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.toggle_input:checked + .toggle_label {
  background-color: #4BD865;
}

.toggle_input:checked + .toggle_label:after {
  left: 20px;
}

.toggle_button {
  position: relative;
  width: -50px;
  height: 20px;
  margin: auto;
}

/*テーマ切り替え*/
:root {
    --s-1: 0 2px 5px rgba(0, 0, 0, 0.26);
    --s-2: 0 2px 10px rgba(0, 0, 0, .2);
}

body[theme="dot"] {
	margin: 0;
	padding: 0;
	font-family: "DotGothic16", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #e6e6e6;
}

button[theme="dot"] {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 90px;
	height: 40px;
	margin: auto;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: rgb(0, 0, 0);
	border-radius: 100vh;
	transition: 0.5s;
	font-family: "DotGothic16", sans-serif;
}
