<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1 style="text-align: center;">新規ユーザー登録</h1>
	<th:block th:if="${nullNameMessage}"><font color="red">[[${nullNameMessage}]]</font><br></th:block>
	<th:block th:if="${nullEmailMessage}"><font color="red">[[${nullEmailMessage}]]</font><br></th:block>
	<th:block th:if="${nullPassMessage}"><font color="red">[[${nullPassMessage}]]</font><br></th:block>
	<th:block th:if="${passError}"><font color="red">[[${passError}]]</font><br></th:block>
	<form action="/todo/userAdd" method="post">
		<table>
			<tr>
				<th>名前：<input type="text" name="name" class="textbox"></th>
			</tr>
			<tr>
				<th>メールアドレス：<input type="text" name="email" class="textbox"></th>
			</tr>
			<tr>
				<th>パスワード：<input type="text" name="pass" class="textbox"></th>
			</tr>
			<tr>
				<th>パスワード（確認用）：<input type="text" name="passCheck" class="textbox"></th>
			</tr>
		</table>
		<h3 style="text-align: center;">以上の内容で登録する場合は下のボタンを押してください</h3>
		<button>新規登録</button>
	</form>
	<footer th:replace="footer"></footer>
</body>
</html>