<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body>
		<footer>
			change.dot.style
			<div class="toggle_button">
				<input id="toggle" class="toggle_input" type='checkbox' />
				<label for="toggle" class="toggle_label" />
			</div>
			<div style="text-align: right;">presentedby.Nagakubo</div>
		</footer>
		
		<script src="/js/toggleCheck.js"></script>
	</body>

	</html>