<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="icon" href="/favicon.ico/icon.ico" type="image/ico">
	</head>

	<body>
		<header>
			<h1 class="logo" onclick="clickToTop()">とぅどぅくん</h1>
			<img src="/img/head.png" id="head" onclick="clickToTop()">
			<div class="account">
				<th:block th:if="${@account.name}"><span style="color: deepskyblue;"
						th:text="${@account.name} + 'でログイン中'"></span></th:block>
				<a href="/login" class="warning">ログアウト</a>
			</div>
		</header>

		<script src="/js/clickToTop.js"></script>
	</body>

	</html>