<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<h1 align="center">ログイン</h2>
	<div style="text-align: center;">
		<th:block th:if="${nullEmailMessage}"><font color="red">[[${nullEmailMessage}]]</font><br></th:block>
		<th:block th:if="${nullPassMessage}"><font color="red">[[${nullPassMessage}]]</font><br></th:block>
		<th:block th:if="${noInfoMessage}"><font color="red">[[${noInfoMessage}]]</font><br></th:block>
	</div>
	<form action="/login" method="post">
		<table >
			<tr>
				<td><input type="text" name="email" placeholder="メールアドレス" class="textbox"></td>
			</tr><br>
			<tr>
				<td><input type="text" name="password" placeholder="パスワード" class="textbox"></td>
			</tr>
		</table><br>
		<button>ログイン</button>
	</form>
	<h3 align="center"><a href="/todo/userAdd">新規登録はこちらから</a></h3>
	<div style="text-align:center;"><a href="/todo">ログインせずに進む</a></div>
</body>
</html>