<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
		<link rel="stylesheet" type="text/css" href="/css/mouseOver.css">
	</head>

	<body>
		<header th:replace="header"></header>
		<br>
		<br>
		<br>
		<br>
		<div style="text-align: center;">
			<h3 align="center"><a href="/todo/add" >◇新規タスク作成</a></h3>
			<a href="/todo">□すべてのタスクを表示</a><br>
				<th:block th:each="categories:${categories}">
					優先度：
					<a th:href="@{/todo/sort(category=${categories.id})}">
						<th:block th:text="${categories.priority}"></th:block>
					</a>
				</th:block><br>
				未着手：<img src="/img/sleeping.png" onclick="clickShowProgress(1)">
				進行中：<img src="/img/onTime.png" onclick="clickShowProgress(2)">
				完了：<img src="/img/goodsign.png" onclick="clickToTop()">
		</div>
		<h2 style="text-align: center;">未完了のタスク一覧</h2>
		<table class="box2" id="noCompleteTable">
			<tr>
				<th  class="sort" onclick="sortRows()"><a th:href="@{/todo/sort(category=${categoryId},sort=Asc)}" class="sort">∧</a>期限<a th:href="@{/todo/sort(category=${categoryId},sort=Desc)}" class="sort">∨</a></th>
				<th>ToDo</th>
				<th>優先度</th>
				<th>進捗状況</th>
				<th>完了</th>
				<th>変更</th>
				<th>削除</th>
				<th>進行中</th>
				<th>未着手</th>
			</tr>
			<tr th:each="taskList:${tasks}">
				<td th:text="${taskList.closingDate}" class="deadline"></td><!--期限-->
				<div class="tooltipBlock1">
					<td th:text="${taskList.title}" th:id="'tooltipButton' + ${taskList.id}"></td> <!--件名-->
						<p th:id="'toolTip' + ${taskList.id}" class="toolTip1" th:text="${taskList.memo}"></p>
				</div>
				<!--↓優先度-->
				<td th:if="${taskList.categoryId == 1}" th:text="高" class="priority"></td>
				<td th:if="${taskList.categoryId == 2}" th:text="中" class="priority"></td>
				<td th:if="${taskList.categoryId == 3}" th:text="低" class="priority"></td>
				<!--↓進捗状況-->
				<td th:if="${taskList.progress == 1}"><img src="/img/sleeping.png"></td>
				<td th:if="${taskList.progress == 2}"><img src="/img/onTime.png"></td>
				<td th:if="${taskList.progress == 3}" th:text="完了"></td>
				<td><!--完了ボタン-->
					<form th:action="@{/todo/{taskId}/complete(taskId=${taskList.id})}" method="post">
						<button><img src="/img/check.png"></button>
					</form>
				</td>
				<td><!--更新ボタン-->
					<form th:action="@{/todo/{taskId}/edit(taskId=${taskList.id})}" method="get">
						<button><img src="/img/change.png"></button>
					</form>
				</td>
				<td><!--削除ボタン-->
					<form th:action="@{/todo/{taskId}/delete(taskId=${taskList.id})}" method="post"
						onsubmit="return confirm('選択したタスクを削除しますか？')">
						<button type="submit"><img src="/img/dust.png"></button>
					</form>
				</td>
				<td><!--進行中ボタン-->
					<form th:action="@{/todo/{taskId}/onTime(taskId=${taskList.id})}" method="post">
						<button>進行中</button>
					</form>
				</td>
				<td><!--未着手ボタン-->
					<form th:action="@{/todo/{taskId}/notComplete(taskId=${taskList.id})}" method="post">
						<button>未着手</button>
					</form>
				</td>
			</tr>
		</table>
		<br>
		
		<div style="text-align: center;">
		<img src="/img/yellowbox.png">：期限二日前 <span style="color: rgb(255, 128, 0);">マズいかも！</span><br>
		<img src="/img/redbox.png">：期限切れ <span style="color: red;">ヤバいです！</span><br>
		</div>
		
		<hr class="cp_hr08">

		
		<h2 th:if="${completeTasks != null}" style="text-align: center;">完了したタスク一覧</h2>
		<table th:if="${completeTasks != null}" class="box2">
			<tr>
				<th>NO</th>
				<th>期限</th>
				<th>ToDo</th>
				<th>優先度</th>
				<th>進捗状況</th>
				<th>更新</th>
				<th>削除</th>
				<th>進行中</th>
				<th>未完了</th>
			</tr>
			<tr th:each="taskList:${completeTasks}">
				<td th:text="${taskList.id}"></td> <!--タスクNO-->
				<td th:text="${taskList.closingDate}" class="deadline"></td><!--期限-->
				<div class="tooltipBlock2">
					<td th:text="${taskList.title}" th:id="'tooltipButton' + ${taskList.id}"></td> <!--件名-->
						<p th:id="'toolTip' + ${taskList.id}" class="toolTip2" th:text="${taskList.memo}"></p>
				</div>
				<!--↓優先度-->
				<td th:if="${taskList.categoryId == 1}" th:text="高" class="priority"></td>
				<td th:if="${taskList.categoryId == 2}" th:text="中" class="priority"></td>
				<td th:if="${taskList.categoryId == 3}" th:text="低" class="priority"></td>
				<!--↓進捗状況-->
				<td th:if="${taskList.progress == 3}">
					<img src="/img/goodsign.png">
				</td>
				<td><!--更新ボタン-->
					<form th:action="@{/todo/{taskId}/edit(taskId=${taskList.id})}" method="get">
						<button><img src="/img/change.png"></button>
					</form>
				</td>
				<td><!--削除ボタン-->
					<form th:action="@{/todo/{taskId}/delete(taskId=${taskList.id})}" method="post"
						onsubmit="return confirm('選択したタスクを削除しますか？')">
						<button type="submit"><img src="/img/dust.png"></button>
					</form>
				</td>
				<td><!--進行中ボタン-->
					<form th:action="@{/todo/{taskId}/onTime(taskId=${taskList.id})}" method="post">
						<button>進行中</button>
					</form>
				</td>
				<td><!--未着手ボタン-->
					<form th:action="@{/todo/{taskId}/notComplete(taskId=${taskList.id})}" method="post">
						<button>未着手</button>
					</form>
				</td>
			</tr>
		</table>
		<br>
		<div style="text-align: end;"><img src="/img/easterEgg.png" onclick="clickToGame()"></div>
		<br>
		<footer th:replace="footer"></footer>

		<script src="/js/deadline.js"></script>
		<script src="/js/memoTip.js"></script>
		<script src="/js/clickShowProgress.js"></script>
		<script src="/js/priorityBorder.js"></script>
		<script src="/js/Game/toGame.js"></script>
	</body>

	</html>